Django==1.8.4
django-cache-machine==0.9
django-filter==0.9.2
django-rq==0.7.0
django-watson==1.1.9
djangorestframework==3.2.2
MarkupSafe==0.23
pyexcel_xlsx==0.0.5
pypinyin==0.9.3
python-magic==0.4.10
python-memcached==1.57
pytz==2014.10
qiniu==7.0.3
requests==2.8.1
times==0.7
xmltodict==0.9.2
