{% extends "base.html" %}
{% load extra_tags %}

{% block title %}成员管理 - {{ block.super }} {% endblock title %}


{% block extra_head %}
<meta name="url-detail" content="{% url "api:member:member_detail" 0 %}">
{% endblock extra_head %}


{% block content %}

<div class="row">
  <h2>成员管理
    <small><a href="javascript: void(0);" class="label label-primary newMember">新增</a></small>
  </h2>

{% if has_new_member %}
  <div class="alert alert-warning alert-dismissible fade in" role="alert">
    {# <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> #}
    <strong>发现未处理的新成员！</strong> <a href="{% url "member:new_member_list" %}">前去处理</a>
  </div>
{% endif %}

</div>


<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="filter_by">选择</label>
        <select name="filter_by" class="form-control">
          <option value="sn"
          {% if request.GET.filter_by == "sn" %} selected {% endif %}
          >编号</option>
          <option value="qq"
          {% if request.GET.filter_by == "qq" %} selected {% endif %}
          >QQ</option>
          <option value="nick_name"
          {% if request.GET.filter_by == "nick_name" %} selected {% endif %}
          >昵称</option>
          <option value="id"
          {% if request.GET.filter_by == "id" %} selected {% endif %}
          >ID</option>
        </select>
    </div>
    <div class="form-group">
      <label class="sr-only" for="filter_name">值</label>
      <input class="form-control" type="text"
        name="filter_value" placeholder="value"
        value="{{ request.GET.filter_value }}" >
    </div>
    <input class="btn btn-primary" type="submit" value="过滤">
    <a class="btn btn-default" href="{{ request.path }}">重置</a>
  </form>
</div>

  {% include "page.html" %}


  <div class="row">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              {% sort_url_obj "sn" as sn_url %}
              <a href="{{ sn_url.new_url }}" class="{{ sn_url.sorting }}">编号
              {% if sn_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif sn_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "qq" as qq_url %}
            <th><a href="{{ qq_url.new_url }}" class="{{ qq_url.sorting }}">QQ
              {% if qq_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif qq_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "nick_name" as nick_name_url %}
            <th><a href="{{ nick_name_url.new_url }}" class="{{ nick_name_url.sorting }}">昵称
              {% if nick_name_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif nick_name_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            <th>备注</th>
            <th>查看</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for member in page_obj.object_list %}
          <tr>
            <td>{{ member.sn }}</td>
            <td>{{ member.qq }}</td>
            <td>{{ member.nick_name }}</td>
            <td>{{ member.description|default:"" }}</td>
            <td>
              <a href="{% url 'qq:record_checkin_list' %}?filter_by=qq&filter_value={{ member.qq|urlencode }}">打卡记录</a>
              <a href="{% url 'qq:analysis_group_by_qq_list' %}?filter_by=qq&filter_value={{ member.qq|urlencode }}">打卡天数</a>
              <a href="{% url "frontend:member_detail" pk=member.pk %}">前台页面</a>
            </td>
            <td>
              <a class="edit_record" href="javascript: void(0);"
                data-reveal-id="edit_modal"
                data-id="{{ member.pk }}">编辑</a>
              <a class="delete_record" href="javascript: void(0);"
                data-id="{{ member.pk }}">删除</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>


  {% include "page.html" %}


  <div class="modal fade" id="add_modal" tabindex="-1" role="dialog"
    aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新增成员</h4>
      </div>
      <div class="modal-body">

      <form action="#" id="add_form_post">
        {% csrf_token %}
          <div class="form-group">
            <label for="addSN">编号</label>
            <input class="form-control" type="number" name="sn" id="addSN" required>
          </div>
          <div class="form-group">
            <label for="addQQ">QQ</label>
            <input class="form-control" type="text" name="qq" id="addQQ" required>
          </div>
          <div class="form-group">
            <label for="addName">昵称</label>
            <input class="form-control" type="text" name="nick_name" id="addName" required>
          </div>
          <div class="form-group">
            <label for="addAvatar">头像</label>
            <input class="form-control" type="url" name="avatar" id="addAvatar" required>
          </div>
          <div class="form-group">
            <label for="addDescription">简介/备注</label>
            <textarea class="form-control" rows="3" name="description"
            id="addDescription"></textarea>
          </div>
    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <a class="btn btn-primary" id="post_add_form" data-id="0"
        href="javascript: void(0);">保存</a>
    </div>
  </div>
  </div>
</div>
</div>




  <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog"
    aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑成员信息</h4>
      </div>
      <div class="modal-body">

    <div id="edit_form"></div>

    <script id="edit_form_template"  type="x-tmpl-mustache">
      <form action="#" id="edit_form_post">
        {% csrf_token %}

      {% verbatim %}
          <div class="form-group">
            <label for="editSN">编号</label>
            <input class="form-control" type="number" name="sn" id="editSN" value="{{sn}}">
          </div>
          <div class="form-group">
            <label for="editQQ">QQ</label>
            <input class="form-control" type="text" name="qq" id="editQQ" value="{{qq}}" readonly>
          </div>
          <div class="form-group">
            <label for="editName">昵称</label>
            <input class="form-control" type="text" name="nick_name" id="editName" value="{{nick_name}}">
          </div>
          <div class="form-group">
          <label for="editAvatar">头像 <a href="{{avatar}}" target="_blank">点击查看</a></label>
            <input class="form-control" type="url" name="avatar" id="editAvatar" value="{{avatar}}">
          </div>
          <div class="form-group">
            <label for="editDescription">简介/备注</label>
            <textarea class="form-control" rows="3" name="description"
            id="editDescription">{{description}}</textarea>
          </div>

        {% endverbatim %}

    </form>
  </script>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <a class="btn btn-primary" id="post_edit_form" data-id="0"
        href="javascript: void(0);">保存</a>
    </div>

  </div>
  </div>
</div>
</div>


  {% endblock content %}



  {% block extra_js %}
  <script src="{{ STATIC_URL }}js/frontend/normal/admin_member_index-10c4c82d88.js"></script>
  {% endblock extra_js %}
