{% extends "base.html" %}
{% load extra_tags %}

{% block title %}新成员管理 - {{ block.super }} {% endblock title %}


{% block extra_head %}
<meta name="url-detail" content="{% url "api:member:new_member_approve" 0 %}">
{% endblock extra_head %}


{% block content %}
<h2>处理新成员</h2>

  {% include "page.html" %}


  <div class="row">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              {% sort_url_obj "sn" as sn_url %}
              <a href="{{ sn_url.new_url }}" class="{{ sn_url.sorting }}">编号
              {% if sn_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif sn_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "qq" as qq_url %}
            <th><a href="{{ qq_url.new_url }}" class="{{ qq_url.sorting }}">QQ
              {% if qq_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif qq_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "nick_name" as nick_name_url %}
            <th><a href="{{ nick_name_url.new_url }}" class="{{ nick_name_url.sorting }}">昵称
              {% if nick_name_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif nick_name_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for member in page_obj.object_list %}
          <tr>
            <td>{{ member.sn }}</td>
            <td>{{ member.qq }}</td>
            <td>{{ member.nick_name }}</td>
            <td>
              <a class="approve_record" href="javascript: void(0);"
                data-id="{{ member.pk }}">导入</a>
              <a class="delete_record" href="javascript: void(0);"
                data-id="{{ member.pk }}">忽略</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>


  {% include "page.html" %}

  {% endblock content %}


  {% block extra_js %}
  <script src="{{ STATIC_URL }}js/frontend/normal/admin_new_member_index-793ce3b023.js"></script>
  {% endblock extra_js %}
