<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="https://dn-tmp.qbox.me/chendian/cat_mouse_reading.jpg" />
    <title>{% block title %}沉淀书会后台管理{% endblock title %} </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/datetimepicker/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/normalize.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/bootstrap-fileinput/css/fileinput.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend/site-fa515a383b.css" />
    <style>
      body {
        padding-top: 70px;
      }
      span.select2-container {
        width: 100% !important;
      }
    </style>

    {% block extra_head %}{% endblock extra_head %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "admin123" %}">后台</a>
        </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><a href="{% url "member:member_list" %}">成员管理</a></li>
          <li><a href="{% url "qq:import_list" %}">数据导入</a></li>

          <li class="dropdown">
            <a href="javascript: void(0);"
              class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"
              >打卡管理 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url "qq:record_checkin_list" %}">打卡记录</a></li>
              <li><a href="{% url "qq:analysis_group_by_qq_list" %}">打卡天数</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript: void(0);"
              class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"
              >书籍管理 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url "book:book_list" %}">书籍列表</a></li>
              <li><a href="{% url "book:book_hot" %}">热门书籍</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript: void(0);"
              class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"
              >文章管理 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url "blog:article_list" %}">文章列表</a></li>
              <li><a href="{% url "blog:tag_list" %}">标签管理</a></li>
              <li><a href="{% url "blog:category_list" %}">分类管理</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">返回首页</a><li>
          <li><a href="javascript: void(0);">{{ request.user.username }}</a></li>
          <li><a href="{% url "logout" %}">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>


      <div class="container">
          {% block content %}{% endblock content %}
      </div>

      <footer class="footer">
        <div class="container">
          {% block footer %}{% endblock %}
        </div>
      </footer>

    <script src="{{ STATIC_URL }}libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/mustache/mustache.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/xss/dist/xss.min.js"></script>
    <script src="{{ STATIC_URL }}js/frontend/normal/utils-44b7f01bd7.js"></script>
    <script src="{{ STATIC_URL }}js/frontend/normal/admin_base-fd4db35205.js"></script>

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>
