{% extends "frontend/base.html" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">修改密码</div>
  <div class="panel-body">
    {% if form.errors %}
    <div class="alert alert-danger">
      <p>请解决下面的错误</p>
    </div>
    {% endif %}

    <div>
      <form action="" method="post" class="form-horizontal">{% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          <label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
          <div class="col-md-10 ">
            {{ field }}
            {% if field.errors %}
            <span class='text-danger'>{{ field.errors|join:"<br />" }}</span>
            {% endif %}
            {% if field.help_text %}
            <span class="help-block ">{{ field.help_text }}</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="reset" class="btn">重置</button>&nbsp;
            <button type="submit" class="btn btn-primary">更改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
