{% extends "base.html" %}

{% block content %}

<div class="row">
  <h2>最近一个月({{ datetime_start|date:"m-d" }}
      ~ {{ datetime_end|date:"m-d" }})阅读人数 >2 的书籍</h2>
</div>


{% include "page.html" %}

<div class="row">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>书名</th>
        <th>阅读人数</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page_obj.object_list %}
      <tr>
        {% with item.book_name|default:"" as book_name %}
        <td>
          <a href="{% url "book:book_list" %}?filter_by=name&filter_value={{ book_name }}">
            {{ book_name }}
          </a>
        </td>
        {% endwith %}
        <td><a href="{% url 'qq:record_checkin_list' %}?filter_by=book_name&filter_value={{ item.book_name|urlencode }}">{{ item.count }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include "page.html" %}

{% endblock content %}
