{% load extra_tags %}

{% if is_paginated %}
<div class="row">

<ul class="pagination">
  {% if page_obj.has_previous %}
  <li class="arrow"><a href="{% page_url page_obj.previous_page_number %}">&laquo;</a></li>
  {% else %}
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  {% endif %}

  {# <li class="current"><a href="">1</a></li> #}
  <li>{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</li>
  {# <li><a href="">2</a></li> #}
  {# <li class="unavailable"><a href="">&hellip;</a></li> #}

  {% if page_obj.has_next %}
  <li class="arrow"><a href="{% page_url page_obj.next_page_number %}">&raquo;</a></li>
  {% else %}
  <li class="arrow unavailable"><a href="">&raquo;</a></li>
  {% endif %}

</ul>

</div>
{% endif %}
