{% extends "base.html" %}

{% block title %}打卡记录 - {{ super }} {% endblock title %}

{% block content %}
<h1>打卡记录</h1>


  {% include "qq/filter_form.html" %}

  {% include "page.html" %}


  <div class="row">
    <div class="large-12 columns">
      <table class="full-width">
        <thead>
          <tr>
            <th style="width: 10%">编号</th>
            <th style="width: 10%">QQ</th>
            <th style="width: 10%">昵称</th>
            <th style="width: 40%">书名</th>
            <th style="width: 20%">打卡日期</th>
            <th style="width: 10%">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for record in page_obj.object_list %}
          <tr>
            <td>{{ record.sn|default:"" }}</td>
            <td>{{ record.qq|default:"" }}</td>
            <td>{{ record.nick_name|default:"" }}</td>
            <td>{{ record.book_name|default:"" }}</td>
            <td>{{ record.posted_at|date:"Y-m-d H:i:s" }}</td>
            <td>
              <a class="edit_record" href="javascript: void(0);"
                data-reveal-id="edit_modal"
                data-id="{{ record.pk }}">修正</a>
              <a class="delete_record" href="javascript: void(0);" data-id="{{ record.sn }}">删除</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {% include "page.html" %}


  <div id="edit_modal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div id="edit_form"></div>

    <script id="edit_form_template"  type="x-tmpl-mustache">
      <form action="#" id="edit_form_post">
        {% csrf_token %}

      {% verbatim %}
        <div class="row">
          <p>原始聊天记录：<textarea rows="3" readonly disable>{{raw_msg}}</textarea></p>

            <label>编号
              <input type="number" name="sn" value="{{sn}}">
            </label>
            <label>QQ
              <input type="text" name="qq" value="{{qq}}">
            </label>
            <label>昵称
              <input type="text" name="nick_name" value="{{nick_name}}">
            </label>
            <label>书名
              <input type="text" name="book_name" value="{{book_name}}">
            </label>
            <label>读后感
              <textarea rows="3" name="think">{{think}}</textarea>
            </label>
        </div>

        <div class="row">
        <a href="javascript: void(0);"
           class="button tiny" id="post_edit_form" data-id="{{id}}">更新</a>
        </div>
        {% endverbatim %}

        <script>
        // post form
        $("#post_edit_form").on("click", function() {
          var id = $(this).data("id");
          var jsonData = {}
          $("#edit_form_post").serializeArray().map(function(item) {
            jsonData[item.name] = item.value;
          });
          jsonData = JSON.stringify(jsonData);
          var url = "{% url "api:qq:checkin_detail" 0 %}".replace("0", id);
          $.ajax({
            type: "PUT",
            url: url,
            data: jsonData,
            dataType: "json",
            contentType : "application/json",
            success: function(data) {
              location.reload();
            }
          });
        });
        </script>

    </form>
  </script>
</div>


  {% endblock content %}



  {% block extra_js %}
  <script>
    $(function(){

      // 载入 form
      function loadEditForm(id) {
        var url = "{% url "api:qq:checkin_detail" 0 %}".replace("0", id);
        $.get(url, function(record) {
          var template = $("#edit_form_template").html();
          var rendered = Mustache.render(template, record);
          $("#edit_form").html(rendered);
        });
      };

      // modal
      $(".edit_record").on("click", function() {
        var id = $(this).data("id");
        loadEditForm(id);
        $("#edit_modal").foundation("reveal", "open");
      });


    });
  </script>
  {% endblock extra_js %}
