{% extends "frontend/base.html" %}

{% block extra_head %}
<style>
  .file-preview {
    border: 0;
  }
</style>
{% endblock extra_head %}

{% block content %}
<div class="row member-detail">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
      {% if request.user.is_authenticated %}

        {% if request.user.is_staff or request.user.member.id == id %}
        <span class="text-left">
          <a href="javascript: void(0);" data-toggle="modal"
            data-target=".bs-edit-member-modal-lg">更新成员信息</a>
        </span>
        {% endif %}

        {% if request.user.is_staff %}
        <span class="text-right">
          <a href="{% url "member:member_list" %}?filter_by=id&filter_value={{ id }}">后台页面</a>
        </span>
        {% endif %}

      {% endif %}
      </div>

      <div class="panel-body">
        <div id="profile" data-id="{{ id }}">
          <div class="loading">
            <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        读过的书<span id="read_count"></span>
        </a>
      </div>

      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <div id="read-books" class="text-center" data-id={{ id }}>
            <div class="loading">
              <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    <div class="col-md-8 checkin-list">
      <div class="panel panel-default">
        <div class="panel-heading">打卡记录</div>
        <div class="panel-body">
          <div id="checkin-list">
            <div class="loading">
              <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
            </div>
          </div>
        </div>
        <div class="panel-footer clearfix"></div>
      </div>
    </div>
</div>

<div class="modal fade bs-edit-member-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="editMemberModalLabel" id="editMemberModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editMemberModalLabel">编辑成员信息</h4>
      </div>
      <div class="modal-body">
        <form id="editMemberForm">
          <div class="form-group hide">
            <label for="cover">头像</label>
            <input type="url" class="form-control" id="avatar"
            placeholder="头像" required name="avatar">
          </div>
          <div class="form-group">
            <label for="cover_up">头像（点击图片上传头像）</label>
            <div class="parent uploading">
              <a href="javascript: void(0);">
                <img src="" class="upload-img" id="avatar_up" title="点击上传头像" />
              </a>
              <p class="uploading hide child">uploading...</p>
            </div>
          </div>
          <div class="form-group">
            <label for="nick_name">昵称</label>
            <input type="text" class="form-control" id="nick_name"
            placeholder="昵称" required name="nick_name">
          </div>
          <div class="form-group">
            <label for="description">简介</label>
            <textarea class="form-control" id="description" name="description"
              rows="5" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="editMemberButton">更新</button>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/frontend/checkin_list-6ae73e0b02.js"> </script>
<script src="{{ STATIC_URL }}js/frontend/member_detail-a2887cee64.js"> </script>
<script src="{{ STATIC_URL }}js/frontend/normal/member_edit-f787a98e3d.js"> </script>
{% endblock extra_js %}
