{% extends "frontend/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="profile" data-id={{ id }}></div>
      </div>
    </div>
  </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">打卡记录</div>
        <div class="panel-body">
          <div id="checkin-list"></div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/frontend/member_detail.js"> </script>
{% endblock extra_js %}


