{% extends "frontend/base.html" %}

{% block content %}
<div class "row">
    <div class="panel panel-default">
      <div class="panel-heading">成员列表</div>
      <div class="panel-body">
        <div id="member-list">
          <div class="loading">
            <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix"></div>
    </div>
  </div>

{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}libs/bower_components/lazysizes/lazysizes.min.js"></script>
<script src="{{ STATIC_URL }}js/frontend/member_list-f7e5808fa3.js"> </script>
{% endblock extra_js %}
