{% extends "frontend/base.html" %}

{% block extra_head %}
<style>
  .file-preview {
    border: 0;
  }
</style>
{% endblock extra_head %}


{% block content %}
<div class="row">
  <div class="col-md-4 book-detail">
    <div class="panel panel-default">
      <div class="panel-heading">
      {% if request.user.is_authenticated %}

        <span class="text-left">
          <a href="javascript: void(0);" data-toggle="modal"
            data-target=".bs-edit-book-modal-lg">更新书籍信息</a>
        </span>
        {% if request.user.is_staff %}
        <span class="text-right">
          <a href="{% url "book:book_list" %}?filter_by=id&filter_value={{ id }}">后台页面</a>
        </span>
        {% endif %}

      {% endif %}
      </div>
      <div class="panel-body">
        <div id="content" data-id="{{ id }}"
          {% if request.user.is_authenticated %}data-editable="true"{% endif %}
          >
          <div class="loading">
            <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
          </div>
        </div>
      </div>
    </div>

  </div> <!-- .col-md-4 -->

  <div class="col-md-4 checkin-list">
    <div class="panel panel-default">
      <div class="panel-heading">有 <span class="text-right" id="reader-count">0</span> 个小伙伴阅读过本书</div>
      <div class="panel-body">
        <div id="checkin-list">
          <div class="loading">
            <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix"></div>
    </div>

  </div>  <!-- .col-md-4 -->

  <div class="col-md-4 hundred-goal-note-list">
    <div class="panel panel-default">
      <div class="panel-heading">来自【百日斩】</div>
      <div class="panel-body">
        <div id="hundred-goal-notes">
          <div class="loading">
            <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix"></div>
    </div>
  </div>  <!-- .col-md-4 -->

</div>

{% if request.user.is_authenticated %}

<div class="modal fade bs-edit-book-modal-lg" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel" id="editBookModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editBookModalLabel">编辑书籍信息</h4>
      </div>
      <div class="modal-body">
        <form id="editBookForm">
          <div class="form-group hide">
            <label for="cover">封面</label>
            <input type="url" class="form-control" id="cover"
            placeholder="封面" required name="cover">
          </div>
          <div class="form-group">
            <label for="cover_up">封面（点击图片上传封面）</label>
            <div id="upload_cover" class="parent uploading">
              <a href="javascript: void(0);">
                <img src="" class="upload-img" id="cover_up" title="点击上传封面" />
              </a>
              <p class="uploading hide child">uploading...</p>
            </div>
          </div>
          <div class="form-group">
            <label for="name">书名</label>
            <input type="text" class="form-control" id="name"
            placeholder="书名" required name="name">
          </div>
          <div class="form-group">
            <label for="author">作者</label>
            <input type="text" class="form-control" id="author"
            placeholder="作者" required name="author">
          </div>
          <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn"
            placeholder="ISBN" name="isbn">
          </div>
          <div class="form-group">
            <label for="douban_url">豆瓣页面</label>
            <input type="url" class="form-control" id="douban_url"
            placeholder="douban_url" name="douban_url">
          </div>
          <div class="form-group">
            <label for="description">简介</label>
            <textarea class="form-control" id="description" name="description"
              rows="5" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="editBookButton">更新</button>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endif %}

{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/frontend/checkin_list-6ae73e0b02.js"> </script>
<script src="{{ STATIC_URL }}js/frontend/book_hundred_goal_notes-355fc0a981.js"> </script>
<script src="{{ STATIC_URL }}js/frontend/book_detail-5139924171.js"></script>
{% if request.user.is_authenticated %}
<script src="{{ STATIC_URL }}js/frontend/normal/book_edit-bfccb11d19.js"> </script>
{% endif %}
{% endblock extra_js %}
