{% extends "frontend/base.html" %}

{% block extra_head %}
<style>
  .file-preview {
    border: 0;
  }
</style>
{% endblock extra_head %}


{% block content %}
<div class="row book-detail">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="content" data-id="{{ id }}"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          修改封面
        </a>
      </div>

      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div>
            <input type="file" class="file" id="change-cover-input" name="file">
          </div>
          {# <div class="alert alert-success" role="alert"></div> #}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 checkin-list">
    <div class="panel panel-default">
      <div class="panel-heading">有 <span class="text-right" id="reader-count">0</span> 个小伙伴阅读过本书</div>
      <div class="panel-body">
        <div id="checkin-list"></div>
      </div>
      <div class="panel-footer clearfix"></div>
    </div>
  </div>

</div>
{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/frontend/checkin_list-0c3641c1.js"> </script>
<script src="{{ STATIC_URL }}js/frontend/book_detail-91e1a5a2.js"></script>
<script>
  $("#change-cover-input").fileinput({
    showCaption: false,
    showUpload: false,
    showRemove: false,
    uploadUrl: "/api/upload/", // server upload action
    uploadAsync: true,
    allowedFileTypes: ['image'],
    uploadExtraData: function() {
      return {'csrfmiddlewaretoken': "{{ csrf_token }}"}
    }
  });

  // update member avatar
  $("#change-cover-input").on('fileuploaded', function(event, data, previewId, index) {
    var response = data.response;
    var url = '/api/books/' + $('#content').data('id') + '/';
    $.ajax({
      url: url,
      dateType: 'json',
      contentType: 'application/json',
      type: 'patch',
      data: JSON.stringify({
        'cover': response.url
      }),
      success: function(data) {
        $("#book-cover").prop('src', data.cover);
        console.log('change cover success');
      }
    });
    console.log('File uploaded triggered');
  })
</script>
{% endblock extra_js %}
