{% extends "frontend/base.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4 search-box">
  <form class="form-inline" action="/b/">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="请输入书籍名称"
       value="{{ request.GET.name }}">
    </div>
    <button type="submit" class="btn btn-primary">喵~</button>
  </form>
</div>

<div class="col-md-12" id="content">
  <div class="loading">
    <img src="https://dn-tmp.qbox.me/loading/red/loading-bars.svg" />
  </div>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/frontend/book_list-03ae7bbf20.js"> </script>
{% endblock extra_js %}

