[program:chendian_web]
user=nobody
autostart=true
autorestart=true
startretries=3
directory = /www/chendian-plus/chendian/
command = /www/chendian-plus/.env/bin/gunicorn chendian.wsgi:application -c /www/chendian-plus/etc/gunicorn.py
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stdout_logfile = /var/log/chendian_web.log
redirect_stderr = true

[program:chendian_rq]
user=nobody
autostart=true
autorestart=true
startretries=3
directory = /www/chendian-plus/chendian/
command = /www/chendian-plus/.env/bin/python manage_product.py rqworker
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stdout_logfile = /var/log/chendian_rq.log
redirect_stderr = true
