<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="https://dn-tmp.qbox.me/chendian/cat_mouse_reading.jpg" />
    <title>{% block title %}沉淀书会{% endblock title %} </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/normalize.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/select2/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/summernote/dist/summernote.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/dropzone/dist/min/basic.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bower_components/dropzone/dist/min/dropzone.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery-ajax-progress-bar/jquery-ajax-progress-bar.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend/site-fa515a383b.css" />

    <style>
      body {
        padding-top: 70px;
      }
      span.select2-container {
        width: 100% !important;
      }
    </style>

    {% block extra_head %}{% endblock extra_head %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">沉淀书会</a>
        </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url "frontend:article_list" %}">文章</a></li>
          <li><a href="{% url "frontend:book_list" %}">书籍</a></li>
          <li><a href="{% url "frontend:member_list" %}">成员</a></li>
          <li><a href="{% url "frontend:feedback" %}">吐槽</a></li>

          {% if request.user.is_authenticated %}
          <li>
            <a href="javascript: void(0);" data-toggle="modal" data-target=".bs-new-post-modal-lg">
              <i class="fa fa-paw fa-lg"></i> 投稿
            </a>
          </li>
          {% endif %}

        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            {% include "frontend/topbar_userinfo.html" %}
          {% else %}
            <li><a href="{% url "login" %}">登录</a></li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>

    <footer class="footer">
      {% include "frontend/new_post_form.html" %}
      <div class="container">
        {% block footer %}{% endblock %}
      </div>
    </footer>

    <script src="{{ STATIC_URL }}libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    {% if debug %}
    <script src="{{ STATIC_URL }}libs/bower_components/react/react.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/react/react-dom.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}libs/bower_components/react/react.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/react/react-dom.min.js"></script>
    {% endif %}

    <script src="{{ STATIC_URL }}libs/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/summernote/lang/summernote-zh-CN.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/xss/dist/xss.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/dropzone/dist/min/dropzone.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bower_components/isMobile/isMobile.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery-ajax-progress-bar/jquery-ajax-progress-bar.js"></script>

    <script src="{{ STATIC_URL }}js/site.js?1234"></script>
    <script src="{{ STATIC_URL }}js/frontend/normal/utils-44b7f01bd7.js"></script>
    <script src="{{ STATIC_URL }}js/frontend/mixins-85b17a1585.js"></script>
    <script src="{{ STATIC_URL }}js/frontend/normal/new_post-1c32c3d5bd.js"></script>

    <script>
    $(function() {
      $.ajaxSetup({
        dataType: 'json',
        contentType: 'application/json'
      });

      heightlightNav();
    });
    </script>

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>
