<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}沉淀书会{% endblock title %} </title>
    <link rel="stylesheet" href="http://tmp-images.qiniudn.com/chendian/libs/normalize.css" />
    <link rel="stylesheet" href="http://tmp-images.qiniudn.com/bootstrap-3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://tmp-images.qiniudn.com/bootstrap-fileinput-4.1.9/css/fileinput.min.css" />
    <link href="http://tmp-images.qiniudn.com/x-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css?1234" />

    <style>
      body {
        padding-top: 70px;
      }
    </style>

    {% block extra_head %}{% endblock extra_head %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">沉淀书会</a>
        </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url "frontend:book_list" %}">书籍</a></li>
          <li><a href="{% url "frontend:member_list" %}">成员</a></li>
          <li><a href="/feedback/">吐槽</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_staff %}
          <li><a href="{% url "admin123" %}">进入后台管理系统</a><li>
          {% endif %}

          <li>
          {% if not request.user.member %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{ request.user.username }}<span class="caret"></span>
            </a>
          {% else %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{ request.user.member.nick_name }}<span class="caret"></span>
            </a>
          {% endif %}
            <ul class="dropdown-menu" role="menu">
              {% if request.user.member %}
              <li><a href="{% url "frontend:member_detail" pk=request.user.member.id %}">修改个人信息</a></li>
              {% else %}
              <li><a href="#">修改个人信息</a></li>
              {% endif %}
              <li><a href="{% url "change_password" %}">修改密码</a></li>
            </ul>
          </li>
          <li><a href="{% url "logout" %}">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>

    <footer class="footer">
      <div class="container"></div>
    </footer>

    <script src="http://tmp-images.qiniudn.com/chendian/libs/jquery.2.1.3.min.js"></script>
    <script src="http://tmp-images.qiniudn.com/bootstrap-3.3.2/js/bootstrap.min.js"></script>
    {# <script src="{{ STATIC_URL }}js/mustache.min.js"></script> #}
    <script src="http://tmp-images.qiniudn.com/chendian/libs/react-0.13.2.js"></script>
    {# <script src="http://tmp-images.qiniudn.com/chendian/libs/holder.js"></script> #}
    <script src="http://tmp-images.qiniudn.com/bootstrap-fileinput-4.1.9/js/fileinput.min.js"></script>
    <script src="http://tmp-images.qiniudn.com/x-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ STATIC_URL }}js/site.js?1234"></script>
    <script src="{{ STATIC_URL }}js/frontend/mixins-65cd0413.js"></script>

    <script>
      $.fn.editable.defaults.ajaxOptions = {
        type: 'patch',
        dataType: 'json',
        contentType: 'application/json'
      };
      $.fn.editable.defaults.emptytext = 'something...';
      $.fn.editable.defaults.mode = 'inline';
      $.fn.editable.defaults.params =  function(params) {
        //originally params contain pk, name and value
        var data = {};
        data[params.name] = params.value;
        return JSON.stringify(data);
      };
    </script>

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>
