<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="https://dn-tmp.qbox.me/chendian/cat_mouse_reading.jpg" />
    <title>{% block title %}沉淀书会{% endblock title %} </title>
    <link rel="stylesheet" href="https://dn-tmp.qbox.me/chendian/libs/normalize.css" />
    <link rel="stylesheet" href="https://dn-tmp.qbox.me/bootstrap-3.3.2/css/bootstrap.min.css" />
    <link href="https://dn-tmp.qbox.me/select2-4.0.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://dn-tmp.qbox.me/summernote-0.6.9/summernote.css" rel="stylesheet"/>
    <link href="https://dn-tmp.qbox.me/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://dn-tmp.qbox.me/dropzone-4.0.1/min/basic.min.css" rel="stylesheet"/>
    <link href="https://dn-tmp.qbox.me/dropzone-4.0.1/min/dropzone.min.css" rel="stylesheet"/>
    <link href="https://dn-tmp.qbox.me/jquery-ajax-progress-bar/jquery-ajax-progress-bar.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend/site-420f8f383e.css" />

    <style>
      body {
        padding-top: 70px;
      }
      span.select2-container {
        width: 100% !important;
      }
    </style>

    {% block extra_head %}{% endblock extra_head %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">沉淀书会</a>
        </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url "frontend:article_list" %}">文章</a></li>
          <li><a href="{% url "frontend:book_list" %}">书籍</a></li>
          <li><a href="{% url "frontend:member_list" %}">成员</a></li>
          <li><a href="/feedback/">吐槽</a></li>
          <li>
            <a href="javascript: void(0);" data-toggle="modal" data-target=".bs-new-post-modal-lg">
              <i class="fa fa-paw fa-lg"></i> 投稿
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_staff %}
          <li><a href="{% url "admin123" %}">进入后台管理系统</a><li>
          {% endif %}

          <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ request.user.member.nick_name }}<span class="caret"></span>
          </a>
            <ul class="dropdown-menu" role="menu">
              {% if request.user.member %}
              <li><a href="{% url "frontend:member_detail" pk=request.user.member.id %}">修改个人信息</a></li>
              {% else %}
              <li><a href="#">修改个人信息</a></li>
              {% endif %}
              <li><a href="{% url "change_password" %}">修改密码</a></li>
            </ul>
          </li>
          <li><a href="{% url "logout" %}">退出</a></li>
        </ul>
      </div>
    </div>
  </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>

    <footer class="footer">
      {% include "frontend/new_post_form.html" %}
      <div class="container">
        {% block footer %}{% endblock %}
      </div>
    </footer>

    <script src="https://dn-tmp.qbox.me/chendian/libs/jquery.2.1.3.min.js"></script>
    <script src="https://dn-tmp.qbox.me/bootstrap-3.3.2/js/bootstrap.min.js"></script>
    <script src="https://dn-tmp.qbox.me/chendian/libs/react-0.13.3/build/react.js"></script>
    <script src="https://dn-tmp.qbox.me/select2-4.0.0/dist/js/select2.full.min.js"></script>
    <script src="https://dn-tmp.qbox.me/summernote-0.6.9/summernote.min.js"></script>
    <script src="https://dn-tmp.qbox.me/summernote-0.6.9/lang/summernote-zh-CN.js"></script>
    <script src="https://dn-tmp.qbox.me/js-xss.v0.2.2.min.js"></script>
    <script src="https://dn-tmp.qbox.me/dropzone-4.0.1/min/dropzone.min.js"></script>
    <script src="https://dn-tmp.qbox.me/isMobile/0.3.9/isMobile.min.js"></script>
    <script src="https://dn-tmp.qbox.me/isMobile/0.3.9/isMobile.min.js"></script>
    <script src="https://dn-tmp.qbox.me/jquery-ajax-progress-bar/jquery-ajax-progress-bar.js"></script>

    <script src="{{ STATIC_URL }}js/site.js?1234"></script>
    <script src="{{ STATIC_URL }}js/frontend/normal/utils-c07714bc04.js"></script>
    <script src="{{ STATIC_URL }}js/frontend/mixins-6240cf4876.js"></script>
    <script src="{{ STATIC_URL }}js/frontend/normal/new_post-1c32c3d5bd.js"></script>

    <script>
    $(function() {
      $.ajaxSetup({
        dataType: 'json',
        contentType: 'application/json'
      });

      heightlightNav();
    });
    </script>

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>
