{% extends "base.html" %}
{% load extra_tags %}

{% block title %}打卡天数 - {{ block.super }} {% endblock title %}

{% block content %}
<h2>打卡天数</h2>


  {% include "qq/filter_form.html" %}

  {% include "page.html" %}


  <div class="row">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              {% sort_url_obj "sn" as sn_url %}
              <a href="{{ sn_url.new_url }}" class="{{ sn_url.sorting }}">编号
              {% if sn_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif sn_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "qq" as qq_url %}
            <th><a href="{{ qq_url.new_url }}" class="{{ qq_url.sorting }}">QQ
              {% if qq_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif qq_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "nick_name" as nick_name_url %}
            <th><a href="{{ nick_name_url.new_url }}" class="{{ nick_name_url.sorting }}">昵称
              {% if nick_name_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif nick_name_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>

            {% sort_url_obj "count" as count_url %}
            <th><a href="{{ count_url.new_url }}" class="{{ count_url.sorting }}">打卡天数
              {% if count_url.sorting == "desc" %}
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              {% elif count_url.sorting == "asc" %}
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
              {% endif %}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for record in page_obj.object_list %}
          <tr>
            <td>{{ record.sn|default:"" }}</td>
            <td>{{ record.qq|default:"" }}</td>
            <td>{{ record.nick_name|default:"" }}</td>
            <td><a class="view_check_list" href="javascript:void(0);"
                data-sn="{{ record.sn|default:"" }}"
                data-qq="{{ record.qq|default:"" }}"
                data-nick_name="{{ record.nick_name|default:"" }}"
                data-book_name="{{ book_name|default:"" }}"
                data-datetime_start="{{ datetime_start|date:"Y-m-d H:i" }}"
                data-datetime_end="{{ datetime_end|date:"Y-m-d H:i" }}">
                {{ record.count }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


{% include "page.html" %}

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
    aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">打卡记录</h4>
      </div>

      <div class="modal-body">
    <div id="checkin_list"></div>

    <script id="checkin_list_template"  type="x-tmpl-mustache">
      <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>编号</th>
          <th>QQ</th>
          <th>昵称</th>
          <th>书名</th>
          <th>感想</th>
          <th>打卡日期</th>
        </tr>
      </thead>
      <tbody>

        {% verbatim %}
        {{#data}}
        <tr>
        <td>{{n}}</td>
        <td>{{sn}}</td>
        <td>{{qq}}</td>
        <td>{{nick_name}}</td>
        <td>{{book_name}}</td>
        <td>{{think}}</td>
        <td>{{posted_at}}</td>
        </tr>
        {{/data}}
        {% endverbatim %}

    </tbody>
  </table>

  </script>

  </div>
  </div>
</div>
</div>


{% endblock content %}


{% block extra_js %}
<script>
  $(function(){

    function addIndex(arr) {
      for(var i=1; i<=arr.length; i++) {
        arr[i-1]['n'] = i;
      }
    }

    // 载入详细的打卡情况
    function loadCheckinList(data) {
      var url = "{% url "api:qq:checkin_list" %}"
      $("#checkin_list").html("loading....");
      $.get(url, data, function(checkin_list) {
        var template = $("#checkin_list_template").html();
        addIndex(checkin_list);
        var rendered = Mustache.render(template, {"data": checkin_list});
        $("#checkin_list").html(rendered);
      })
    }

    // modal
    $(".view_check_list").on('click', function(){
      var sn = $(this).data("sn");
      var qq = $(this).data("qq");
      var nick_name = $(this).data("nick_name");
      var book_name = $(this).data("book_name");
      var datetime_start = $(this).data("datetime_start");
      var datetime_end = $(this).data("datetime_end");
      var data = {
        "sn": sn,
        "qq": qq,
        "nick_name": nick_name,
        "book_name": book_name,
        "datetime_start": datetime_start,
        "datetime_end": datetime_end
      };

      loadCheckinList(data);
      $("#myModal").modal("show");
    })

  });
</script>
{% endblock extra_js %}
